{% extends 'base.html.twig' %}

{% block title %}Image
{% endblock %}

{% block body %}
<br>
<div class="container">

	<h1 class="text-white">Liste des images</h1>
	<br>
	{% if imageFiles is empty %}
		<p>Aucune image téléchargée.</p>
	{% else %}
		<div class="container">
			<table class="table rounded table-dark table-hover">
				<thead>
					<tr>
						<th>Image</th>
						<th>Action</th>
					</tr>

				</thead>
				<tbody>
					{% for imageFile in imageFiles %}
						<tr>
							<td>{{ imageFile }}</td>
							<td>
								<div class="d-flex ">
									<a class="btn btn-danger me-2" href="#">delete</a>
									<a class="btn btn-warning me-2" href="#">Upload</a>
								</div>
							</td>
						</tr>
					</div>
				</tbody>
			</tr>

		{% endfor %}
	</tbody>

	{% for flashError in app.flashes('error') %}
        <div class="alert alert-danger">{{ flashError }}</div>
    {% endfor %}

</table></div>{% endif %}<br><br><h1 class="text-white">Ajouter une image</h1><br><div class="container rounded bg-dark " style="padding:20px; width:50%;"><form class="mx-auto" method="post" enctype="multipart/form-data" action="{{ path('app_upload_Image') }}">
<input class="text-white" type="file" name="imageFile" required>
<button class="btn btn-primary" type="submit">Submite</button></form></div></div>
{% endblock %}
