{% extends 'base.html.twig' %}

{% block title %}Pdf{% endblock %}

{% block body %}
<br>
<div class="container">

	<h1 class="text-white">Fichier Pdf</h1>
	<br>
	{% if pdfFiles is empty %}
		<p>Aucune Fichier PDF téléchargée.</p>
	{% else %}
		<div class="container">
			<table class="table rounded table-dark table-hover">
				<thead>
					<tr>
						<th>Fichier PDF
						</th>
						<th>Action</th>
					</tr>

				</thead>
				<tbody>
					{% for pdfFile in pdfFiles %}
						<tr>
							<td>{{ pdfFile }}</td>
							<td>
								<div class="d-flex ">
									<a class="btn btn-danger me-2" href=" {{path('app_pdf_delete', {'filename': pdfFile}) }} ">Delete</a>
									<a class="btn btn-warning me-2" href="{{path('app_pdf_download', {'filename': pdfFile}) }}">Download</a>
								</div>
							</td>
						</tr>
					</div>
				</tbody>
			</tr>

		{% endfor %}
	</tbody>

</table></div>{% endif %}<br><br><h1 class="text-white">Ajouter des fichier</h1><br><div class="container rounded bg-dark " style="padding:20px; width:50%;"><form class="mx-auto" method="post" enctype="multipart/form-data" action="{{ path('app_upload_pdf') }}">
<input class="text-white" type="file" name="pdfFile" required>
<button class="btn btn-primary" type="submit">Submite</button></form></div></div>
{% endblock %}
